<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted to Secure role</web-resource-name>
			<description>Declarative security</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<role-name>ccm3-viewer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>ccm3-viewer</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>CCM 3 - Viewer Login</realm-name>
	</login-config>

</web-app>
